#!/usr/bin/env bash

# Copyright 2026 CodeMatters, Lda.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
# except in compliance with the License. You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under
# the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied. See the License for the specific language governing permissions
# and limitations under the License.

./publish.sh repositoryUrl='https://github.com/SpineEventEngine/base.git' tags='*v1.9.0' \
    paths='base,testlib,tools/errorprone-checks,tools/javadoc-filter,tools/javadoc-prettifier,tools/model-compiler,tools/mute-logging,tools/plugin-base,tools/plugin-testlib,tools/proto-dart-plugin,tools/proto-js-plugin,tools/protoc-api,tools/protoc-plugin,tools/tool-base,tools/tools-api,tools/validation-generator'

# Time
./publish.sh repositoryUrl='https://github.com/SpineEventEngine/time.git' tags='*v1.9.0' \
    paths='time,testutil-time'

# Core Java
./publish.sh repositoryUrl='https://github.com/SpineEventEngine/core-java.git' tags='*v1.9.0' \
    paths='client,core,server,testutil-client,testutil-core,testutil-server'

# Google Cloud Java
./publish.sh repositoryUrl='https://github.com/SpineEventEngine/gcloud-java.git' tags='*v1.9.0' \
    paths='datastore,pubsub,stackdriver-trace,testutil-gcloud'

# Web
./publish.sh repositoryUrl='https://github.com/SpineEventEngine/web.git' tags='*v1.9.0' \
    paths='web,testutil-web,firebase-web'

# JDBC Storage
./publish.sh repositoryUrl='https://github.com/SpineEventEngine/jdbc-storage.git' tags='*v1.9.0' \
    paths='rdbms'

# Bootstrap
./publish.sh repositoryUrl='https://github.com/SpineEventEngine/bootstrap.git' tags='*v1.9.0' \
    paths='plugin'
